@import "override";
@import "utility";
@import "utility_colors";

html {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #230d1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.app,
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 70px;
  background-color: #fff;
  border-bottom: 2px solid #e5e5e5;
  color: #afafaf;
  font-size: 17px;
  z-index: 10;
}

.header_inner,
.footer_inner {
  position: relative;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.footer {
  height: 70px;
  background-color: rgba(60, 60, 60, 1);
}

.footer_inner {
  justify-content: space-between;
  align-items: center;
}

.tab_block
// .tab_block-inner
{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  padding: 0 12px;
}

.tab_block-inner .rs-icon {
  margin-right: 5px;
}

.tab_block__profile img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.tab_icon {
  height: 26px;
  margin-right: 5px;
}

.tab_title {
  color: #afafaf;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
}

.header_spaces {
  height: 100%;
  flex-grow: 1;
}

.main_block {
  display: flex;
  width: 100%;
  margin-top: 70px;
  align-items: center;
}

/* LESSONS */

.lessons_list {
  width: 50%;
  // height: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  padding: 40px 24px;
  max-width: 1140px;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lesson_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.lesson {
  height: 100%;
}

.lesson_inner {
  margin: 0 auto;
  width: 100%;
  max-width: 106px;
  cursor: pointer;
  position: relative;
}

.lesson_inner svg {
  width: 100%;
}

.lesson_inner .rs-progress {
  margin: 0 auto;
}

.lesson_title {
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px auto;
  text-align: center;
  display: block;
  width: 90%;
}

.lesson_difficulty {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.lesson_difficulty img {
  margin-right: 3px;
}

.lesson_difficulty img.active {
  fill: yellow;
}

/* TASK PROGRESS */

.practice_block,
.practice_block--results {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  min-height: 460px;
  overflow: hidden;
  width: 100%;
}

.practice_block--results {
  grid-gap: 0;
  grid-template-rows: 1fr min-content;
}

.progress_wrapper {
  grid-column: 1;
  grid-row: 1;
  z-index: 100;
}

.progress_bar {
  padding: 50px 40px 0 40px;
  margin: 0 auto;
  max-width: 1080px;
}

.progress_inner {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: min-content 1fr;
}

.progress_line {
  background: #e5e5e5;
  height: 16px;
  border-radius: 8px;
}

.progress_fill {
  background: #6eb7e0;
  border-radius: inherit;
  height: 16px;
  max-width: 100%;
  min-width: calc(16 * 1.5);
  position: relative;
  transition: all 0.4s;
}

.progress_close {
  background: url(../img/cancel.svg) no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  transition: 0.2s;
}

.progress_close:hover {
  opacity: 0.75;
}

.loader__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.loader__title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}

/* PRACTICE CONTENT */

.practice_content__wrapper {
  align-content: center;
  display: grid;
  font-size: 19px;
  // grid-template-columns: min-content;
  grid-template-rows: min-content;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.practice_block--results .practice_content__wrapper {
  grid-template-columns: none;
}

.practice_content {
  min-height: 400px;
  overflow: visible;
  width: 600px;
  display: grid;
  grid-gap: 28px;
  z-index: 10;
}

.practice_content__title {
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.practice_content__block {
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.practice_content__teacher {
  flex-shrink: 0;
  // max-width: 114px;
  width: 30%;
}

.practice_content__task {
  margin: 24px 0 12px 8px;
  position: relative;
}

.practice_content__inner {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  box-sizing: inherit;
  padding: 12px 24px;
  font-size: 19px;
  font-weight: 500;
  display: block;
  transition: 0.5s ease;
}

*:active,
*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0;
}

.practice_content__triangle_wrapper {
  top: calc(50% - 15px);
  transform: translateY(-50%) rotate(-90deg);
  left: -13px;
  margin: 15px 0;
  height: 10px;
  overflow: hidden;
  width: 20px;
  position: absolute;
}

.practice_content__triangle {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  content: "";
  height: 14.14427px;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 14.14427px;
  box-sizing: inherit;
  position: absolute;
}

.practice_content__input_wrapper {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
}

.practice_content__textarea {
  background: #f7f7f7;
  border: 2px solid #e5e5e5;
  color: #3c3c3c;
  text-align: initial;
  border-radius: 10px;
  padding: 10px 12px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  resize: none;
}

/* PRACTICE BUTTONS WRAPPER */

.practice_buttons_wrapper {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  border-top: 2px solid #e5e5e5;
}

.practice_buttons {
  transition: max-height 0.3s ease-in-out;
  width: 100%;
  height: 140px;
  bottom: 0;
}

.practice_buttons_inner {
  max-width: 1000px;
  position: relative;
  min-height: 140px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
  justify-items: stretch;
}

.practice_button {
  min-width: 150px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  color: #afafaf;
  border-width: 2px 2px 4px;
  border-color: #e5e5e5;
  border-radius: 16px;
  padding: 12px 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 20px;
  border-style: solid;
  transform: translateZ(0);
  transition: 0.2s;
}

.practice_button:hover {
  background-color: #e5e5e5;
}

.practice_button.disabled {
  background-color: #e5e5e5;
  border: none;
  color: #afafaf;
  cursor: auto;
}

.practice_button.enabled {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

.practice_button.enabled:hover {
  background-color: #48c04c;
}

/* PRACTICE LINK */

.practice_link__wrapper {
  bottom: 24px;
  margin-left: 0;
  margin-right: auto;
  position: absolute;
  right: 10px;
  bottom: 40px;
  display: none;
}

.practice_link {
  transform: translateZ(0);
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 72px;
  height: 72px;
  background-color: white;
}

.practice_link > img {
  height: 32px;
  margin-top: 18px;
}

.practice_radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 1.4;
  padding: 12px 16px 42px;
  color: #4b4b4b;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  width: 120px;
  max-height: 120px;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  transition: 0.2s ease;
}

.practice_radio:hover {
  background-color: #e5e5e5;
}

.practice_radio label {
  cursor: pointer;
}

.practice_radio_checked,
.practice_radio_checked:hover {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
  color: #1cb0f6;
}

.practice_radio_checked .radio__number {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
  color: #1cb0f6;
}

.radio__number {
  display: flex;
  /* align-items: center; */
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  color: #afafaf;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  height: 30px;
  justify-content: center;
  width: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.panel__signin {
  background-color: #fff;
  padding: 20px 0;
}

.nav_active .tab_title {
  color: #3c3c3c;
}

.everyday-progress {
  display: flex;
  align-items: center;
  // min-width: 300px;
}

.everyday-progress .rs-progress-line-inner,
.everyday-progress .rs-progress-line-bg {
  height: 15px;
}

.everyday-progress .rs-progress-info {
  color: #fff;
}

.practice_results__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 25px;
}

.practice_results__reward {
  display: flex;
  justify-content: center;
}

.practice_results__reward span {
  color: #777;
  margin-right: 10px;
}

.practice_results__reward strong {
  font-weight: bold;
  color: #ffc800;
}

.practice_content__wrapper.wide-radio .practice_content {
  display: flex;
  justify-content: space-between;
}

.practice_content__wrapper.wide-radio .practice_content__popup {
  justify-content: center;
  flex-direction: column;
}

.practice_content__wrapper.wide-radio .practice_content__block {
  flex-direction: column-reverse;
  justify-content: center;
}

.practice_content__wrapper.wide-radio .practice_content__teacher {
  max-width: 150px;
  width: 100%;
}

.practice_content__wrapper.wide-radio .practice_content__input_wrapper {
  flex-direction: column;
}

.practice_content__wrapper.wide-radio .practice_radio {
  padding: 12px 16px 12px 52px;
  margin: 5px 0;
}

.practice_content__wrapper.wide-radio .radio__number {
  right: auto;
  bottom: 26px;
  left: 10px;
}

.lessons_slider {
  width: 100%;
  max-width: 1140px;
  height: 66px;
  margin-bottom: 60px;
  position: relative;
}

.lessons_slider ol {
  list-style: none;
  padding: 0;
  counter-reset: my-awesome-counter;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
}

.lessons_slider ol li {
  counter-increment: my-awesome-counter;
  padding: 20px;
  width: 100%;
  max-width: 65px;
  border: 2px solid #e5e5e5;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
}

.lessons_slider ol li.active {
  border-color: #10a4ea;
  max-width: 100%;
  width: auto;
}

.lessons_slider ol li span {
  display: none;
}

.lessons_slider ol li.active span {
  display: inline;
  margin-left: 5px;
  // color: rgb(28, 176, 246);
}

.lessons_slider ol li::before {
  content: counter(my-awesome-counter, upper-roman);
  color: #10a4ea;
  font-weight: bold;
}

.lessons_slider ol li.active::before {
  color: #3c3c3c;
}

.practice-input {
  display: block;
  width: 100%;
  color: #575757;
  background-color: #fff;
  background-image: none;
  border: 2px solid #e5e5e5;
  height: 86px;
  -webkit-transition: border-color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s;
  border-radius: 6px;
  padding: 11px;
  font-size: 14px;
  line-height: 1.42857143;
}

.progress-data {
  height: 100%;
  width: 30%;
  position: relative;
}

.progress-data__inner {
  position: fixed;
  top: 120px;
}
